In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
engine = create_engine("mysql+mysqlconnector://root:abc@127.0.0.1:3306/cs544") 
conn = engine.connect()

# https://github.com/cfpb/api/tree/master/resources/datasets/hmda/code_sheets
loan_cols = ["lei", "action_taken", "loan_type", "loan_amount", "interest_rate", "loan_purpose", "income"]

In [3]:
list(conn.execute(text("select * from accounts"))) #put SQL queries in there!

[(1, 'A', 10), (1, 'B', 100)]

In [5]:
#pd.read_sql(QUERY, CONNECTION)
pd.read_sql(text("select * from accounts"), conn)

   user_id name  amount
0        1    A      10
1        1    B     100

In [6]:
#pd.read_csv(url to the thing)
#df.to_sql("column", conn, index = False, if_exists = "replace")  #do this for each col?
#then do read_sql

In [7]:
#pd.read_parquet("loans.parquet", columns = loan_cols)
#so many! breaking inserts into chunks: 
#df.to_sql("column", conn, chunksize = 1000, index = False, if_exists = "replace") #insert 1000 at a time
#conn.commit() #make all these changes show in database

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/cfpb/api/master/resources/datasets/hmda/code_sheets/action_taken.csv")
df.to_sql("actions", conn, index=False, if_exists="replace")

8

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/cfpb/api/master/resources/datasets/hmda/code_sheets/loan_type.csv")
df.to_sql("loan_type", conn, index=False, if_exists="replace")

4

In [11]:
df = pd.read_csv("https://raw.githubusercontent.com/cfpb/api/master/resources/datasets/hmda/code_sheets/loan_purpose.csv")
df.to_sql("purposes", conn, index=False, if_exists="replace")

3

In [12]:
pd.read_sql(text("select * from purposes"), conn)

   id      loan_purpose
0   1     Home purchase
1   2  Home improvement
2   3       Refinancing

In [15]:
df.to_sql("loans", conn, chunksize=1000, index=False, if_exists="replace")

3

In [16]:
conn.commit()

# Transactions

In [8]:
#transfer from account A to account B
conn.execute(text("""
                update accounts set amount = amount - 6
                  WHERE name = 'A'
                  """))

In [17]:
rows = list(conn.execute(text("select amount from accounts where name='A'")))
if rows[0][0] >= 0:
    conn.commit()
    print("transaction complete")
else:
    conn.rollback()
    print("transaction failed")

transaction complete

In [19]:
pd.read_sql(text("select * from accounts"), conn)

   user_id name  amount
0        1    A       4
1        1    B     100

# Query practice

In [18]:
# what are the first 10 loans?  Practice LIMIT.
pd.read_sql(text("""
SELECT *
FROM loans
LIMIT 10;
"""), conn)

#lol since i didnt make the parquet its not doing this right . sorrry dont wanna do taht rn.

   id      loan_purpose
0   1     Home purchase
1   2  Home improvement
2   3       Refinancing

In [20]:
# projection: choosing what columns (SELECT)
# selection: filtering rows (WHERE)

In [21]:
# what are the first 10 interest rates and loan amounts (in thousands)?  Practice SELECT.
pd.read_sql(text("""
SELECT interest_rate, (loan_amount / 1000) AS loan_thousands
FROM loans
LIMIT 10;
"""), conn)

#error

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'interest_rate' in 'field list'
[SQL:
SELECT interest_rate, (loan_amount / 1000) AS loan_thousands
FROM loans
LIMIT 10;
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [22]:
# what are the loans for individuals with income over $1 million?  Practice WHERE.
pd.read_sql(text("""
SELECT *
FROM loans
WHERE income >= 1000000
"""), conn)

#error

# what are the five biggest loans in terms of dollar amount?  Practice ORDER BY.
pd.read_sql(text("""
SELECT *
FROM loans
ORDER BY loan_amount DESC
LIMIT 5
"""), conn)

# what are the actions taken and types for those loans (show the text, not numbers)?  Practice INNER JOIN.
pd.read_sql(text("""
SELECT *
FROM loan_type
"""), conn)

pd.read_sql(text("""
SELECT lei, loan_amount, interest_rate, income, actions.action_taken, loan_type.loan_type
FROM loans
INNER JOIN actions ON loans.action_taken = actions.id
INNER JOIN loan_type ON loans.loan_type = loan_type.id
ORDER BY loan_amount DESC
LIMIT 5
"""), conn)

# what is a loan_purpose that doesn't appear in the loans table?  Practice LEFT/RIGHT JOIN.
pd.read_sql(text("""
SELECT *
FROM purposes
LEFT JOIN loans ON purposes.id = loans.loan_purpose
WHERE loans.loan_purpose IS NULL
"""), conn)

pd.read_sql(text("""
SELECT *
FROM loans
LIMIT 10
"""), conn)

# how many rows are in the table?  Practice COUNT(*).
pd.read_sql(text("""
SELECT COUNT(*)
FROM loans
"""), conn)

# how many non-null values are in the income column?  Practice COUNT(column).
pd.read_sql(text("""
SELECT COUNT(income)
FROM loans
"""), conn)

# what is the average interest rate for loans of type "Conventional"?  Practice AVG.
pd.read_sql(text("""
SELECT COUNT(*)
FROM loans
INNER JOIN actions ON loans.action_taken = actions.id
INNER JOIN loan_type ON loans.loan_type = loan_type.id
WHERE loan_type.loan_type = 'Conventional'
"""), conn)

# how many loans are there of each type?  Practice GROUP BY.
pd.read_sql(text("""
SELECT loan_type.loan_type, COUNT(*)
FROM loans
INNER JOIN actions ON loans.action_taken = actions.id
INNER JOIN loan_type ON loans.loan_type = loan_type.id
GROUP BY loan_type.loan_type
"""), conn)

# which loan types appear at least 10,000 times?  Practice HAVING.
pd.read_sql(text("""
SELECT loan_type.loan_type, COUNT(*) as total
FROM loans
INNER JOIN actions ON loans.action_taken = actions.id
INNER JOIN loan_type ON loans.loan_type = loan_type.id
GROUP BY loan_type.loan_type
HAVING total >= 10000
"""), conn)

import time
# how many loans are between $10K and 20K?  Practice BETWEEN.
# which loan types appear at least 10,000 times?  Practice HAVING.
t0 = time.time()
result = pd.read_sql(text("""
SELECT COUNT(*)
FROM loans
WHERE loan_amount BETWEEN 10000 and 20000
"""), conn)
t1 = time.time()
print((t1-t0)*1000, "milliseconds")
result

# how fast is the above query with and without a BTREE index?  Practice indexing.
conn.execute(text("CREATE INDEX loan_amount_idx USING BTREE ON loans(loan_amount)"))

t0 = time.time()
result = pd.read_sql(text("""
SELECT COUNT(*)
FROM loans
WHERE loan_amount BETWEEN 10000 and 20000
"""), conn)
t1 = time.time()
print((t1-t0)*1000, "milliseconds")
result

#probably all error bc not get parquet file.

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'income' in 'where clause'
[SQL:
SELECT *
FROM loans
WHERE income >= 1000000
]
(Background on this error at: https://sqlalche.me/e/20/f405)